html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background: #dfe7e9;
}

header {
    flex: 0 0 auto; /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
}

main {
    /* With flex-grow set to 1, the main part will take up all free space */
    flex: 1 0 auto; /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
}

footer {
    flex: 0 0 auto; /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
}

.footer-copyright {
    height: 60px;
    background-color: rgb(52, 58, 64);
    color: white;
}

.footer-copyright a {
    color: grey;
    text-decoration: none;
}


.footer-copyright a:link {
    text-decoration: none;
}

.footer-copyright a:visited {
    text-decoration: none;
}

.footer-copyright a:hover {
    text-decoration: none;
    color: #006DFF;
}

.footer-copyright a:active {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    border-radius: 1px;
    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding: 50px 100px 100px 100px;
}

h2 {
    width: 100%;
    font-size: 32px;
    text-transform: capitalize;
    margin: 15px 0;
    display: inline-block;
    position: relative;
    font-weight: 700;
    padding-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    horiz-align: center;
}

h2:before {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    background-color: #777;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
}

h2:after {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    background-color: #006DFF;
    border: darkblue;
    bottom: -1px;
    left: 50%;
    margin-left: -40px;
}

.icon li a {
    text-align: center
}

.box:after {
    content: ""
}

.icon li a, .box {
    overflow: hidden
}

.mt-40 {
    margin-top: 40px
}

.box .icon li a {
    border-radius: 50%
}

.box .box-content {
    text-transform: uppercase
}

.box {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.box-content {
    transform: scale(1)
}

.box-content {
    padding: 20px 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.box .title, .box img, .box:after {
    transition: all .35s ease 0s
}

.box {
    background: #000;
    position: relative
}

.box:after {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: -30%;
    bottom: 0;
    right: 70%;
    transform: skew(20deg) translateX(-75%)
}

.box:hover:after {
    transform: skew(20deg) translateX(0)
}

.box img {
    width: 100%;
    height: auto
}

.box:hover img {
    opacity: .5
}

.box .box-content {
    padding: 20px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1
}

.box .icon {
    padding: 0;
    list-style: none
}

.box .icon li a {
    text-align: center
}

.box .title {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    margin: 0 0 10px;
    transform: scale(0)
}

.box:hover .title {
    transform: scale(1)
}

.box .icon li, .box .post {
    opacity: 0;
    transform: translateX(40px);
    transition: all .35s ease 0s
}

.box .post {
    display: block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px
}

.box .icon {
    display: inline-block;
    margin: 0
}

.box:hover .icon li, .box:hover .post {
    opacity: 1;
    transform: translateX(0)
}

.box:hover .icon li:first-child {
    transition-delay: .1s
}

.box:hover .icon li:nth-child(2) {
    transition-delay: .2s
}

.box .icon li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    font-size: 18px;
    color: #605f5f;
    margin-bottom: 5px;
    transition: all .35s ease
}

.box .icon li a:hover {
    background: #605f5f;
    color: #fff
}

@media only screen and (max-width: 990px) {
    .box {
        margin-bottom: 30px
    }
}

.box {
    box-shadow: 0 0 8px black;
}

